body{
font-family: Arial;
background: linear-gradient(135deg,#3a7bd5,#00d2ff);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{
text-align:center;
background:rgba(0,0,0,0.4);
padding:30px;
border-radius:15px;
width:500px;
}

input{
padding:10px;
width:60%;
border:none;
border-radius:5px;
}

button{
padding:10px 20px;
border:none;
background:#ff9800;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#e68900;
}

#weatherContainer{
margin-top:20px;
max-height:300px;
overflow-y:auto;
}

.hour{
background:rgba(255,255,255,0.2);
margin:5px;
padding:10px;
border-radius:8px;
}